* {
  margin: 0px;
  padding: 0px;
}
.header {
  background: #404040;
  border-bottom: 0px;
  border-top: 0px;
  z-index: 1;
  height: 50px;
  left: 0;
  right: 0;
  position: fixed;
}
.head-text {
  font-size: 22px;
  font-weight: 300;
  color: #fff;
  top: 5px;
  padding-left: 285px !important;
  text-align: center;
  font-family: Roboto, sans-serif !important;
}
.sidebar-left {
  background: #404040;
  color: #777777;
  display: table-cell;
  position: fixed;
  vertical-align: top;
  width: 250px;
  z-index: 1010;
  margin-top: 58px;
  padding-top: 10px;
}
#content_asset {
  width: calc(100% - 250px);
  padding: 0px;
  background-color: #fff;
  margin: 0px auto;
  z-index: 0;
  padding-top: 10px;
  position: absolute;
  right: 0;
  height: 100% !important;
  overflow-y: scroll;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.userbox {
  display: inline-block;
  margin: 23px 0px 0 15px;
  position: relative;
  vertical-align: middle;
  line-height: 18px;
}
.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 7px;
}
.text-right {
  text-align: right !important;
  float: right;
  top: -14px;
}
.dateTime, .logNameIn {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 200;
}
a.signOut {
  text-decoration: underline;
  color: #fff;
}
.site-footer {
  background: #404040;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer-pos {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #fff;
  margin: 0;
  padding: 7px 0;
  text-align: center;
}
.footer-pos a {
  color: #fff !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef !important;
  opacity: 1;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
  margin-top: -5px !important;
}
input#othercountryname {
  /* padding-left: 10px; */
  margin-left: 10px;
}
/*----Media Query-----------*/
@media (min-width: 320px) and (max-width: 568px) {
  img {
    vertical-align: middle;
    border-style: none;
    width: 70px;
  }
  .head-text {
    font-size: 8px;
    line-height: 12px;
    color: #fff;
    top: 3px;
    padding-left: 25px !important;
    text-align: center;
    font-family: Roboto, sans-serif !important;
  }
  .text-right {
    top: -22px;
  }
  .userbox {
    margin-top: 23px;
  }
  .dateTime, .logNameIn {
    color: #fff;
    font-size: 8px;
    line-height: 12px;
    font-weight: 100;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
  }
  .footer-pos {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 9px;
    color: #fff;
    margin: 0;
    padding: 7px 0;
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 7px;
  }
  img {
    vertical-align: middle;
    border-style: none;
    width: 162px;
  }
  .head-text {
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    padding-left: 46px !important;
    font-family: Roboto, sans-serif !important;
  }
  .text-right {
    /* text-align: right!important; */
    float: right;
    top: -12px;
  }
}
@media (max-width: 823px) and (min-width: 411px) {
  .head-text {
    font-size: 11px;
    font-weight: 300;
    color: #fff;
    padding-left: 6px !important;
    text-align: center;
    font-family: Roboto, sans-serif !important;
    top: 10px;
  }
  .text-right {
    /* text-align: right!important; */
    /* float: right; */
    top: -16px;
  }
  .userbox {
    display: inline-block;
    margin: 23px 0px 0 15px;
    position: relative;
    vertical-align: middle;
    line-height: 18px;
  }
  .text-right {
    top: -12px;
  }
  .dateTime, .logNameIn {
    color: #fff;
    font-size: 6px;
    font-weight: 100;
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 200;
  }
}
body, p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px
}
img {
  max-width: 100%
}
.main-cont {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 0;
  margin-top: 40px
}
.top_banner, .top_logo {
  margin-bottom: 30px
}
.top_logo {
  padding: 40px 0 20px;
  margin-bottom: 0;
  text-align: center
}
.bannerTxt {
  padding: 10px 150px 0 40px;
  position: relative;
  min-height: 180px
}
.bannerTxt_img {
  position: absolute;
  right: 50px;
  top: 0
}
.mainDiv {
  width: 80%;
  margin: 0 auto;
  padding-top: 35px
}
.mainDiv p {
  color: #414141;
  margin: 0 0 20px 0;
  line-height: 21px;
  font-weight: 400
}
.listText {
  list-style: none;
  margin: 0;
  padding: 0
}
.listText li {
  font-size: 14px;
  color: #404040;
  margin: 0 0 2px 0;
  line-height: 21px;
  font-weight: 400;
  padding-left: 20px;
  position: relative;
  list-style: none
}
.listText li span {
  font-size: 10px;
  margin: 0;
  color: #cc273e;
  font-weight: 400;
  line-height: 16px;
  position: absolute;
  left: 0;
  top: 2px
}
p.para1 {
  text-align: left;
  padding: 0 0 5px 2px;
  position: relative;
  margin: 0 0 15px 47px;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none
}
p.para1 span {
  width: 20px;
  text-align: right;
  position: absolute;
  text-decoration: none;
  left: 0;
  top: 0
}
p.CheckBox1 {
  text-align: left;
  padding: 3px 0 5px 25px;
  position: relative;
  margin: 0;
  font-size: 13px !important;
  line-height: 19px !important
}
p.CheckBox1 span {
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0
}
p.CheckBox2 {
  text-align: left;
  padding: 0 0 10px 35px;
  position: relative;
  margin: 0;
  font-size: 13px !important;
  line-height: 19px !important
}
p.CheckBox2 span {
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0
}
p.CheckBox3 {
  text-align: left;
  padding: 0 0 10px 35px;
  position: relative;
  margin: 0;
  font-size: 13px !important;
  line-height: 19px !important
}
p.CheckBox3 span {
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0
}
p.CheckBox4 {
  text-align: left;
  padding: 0 0 10px 35px;
  position: relative;
  margin: 0 0 10px 0;
  font-size: 13px !important;
  line-height: 19px !important
}
p.CheckBox4 span {
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0
}
p.para2 {
  text-align: left;
  padding: 0 0 5px 2px;
  position: relative;
  margin: 0 0 15px 0
}
p.para2 span {
  width: 20px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 0
}
.space {
  height: 60px
}
.space1 {
  height: 30px
}
.footer {
  font-size: 10px;
  line-height: 15px !important
}
p.para1 {
  text-align: left;
  padding: 0 0 5px 2px;
  position: relative;
  margin: 0 0 5px 0
}
.heading {
  color: #000 !important;
  font-size: 20px;
  font-weight: 700 !important;
  line-height: 26px !important
}
.star {
  color: red !important;
  position: unset !important;
  font-weight: 700 !important
}
.box {
  padding-bottom: 10px;
  padding-left: 7px
}
.comment {
  border-color: grey;
  border-radius: 5px
}
.dropdown-list {
  width: 245px;
  height: 30px;
  border-radius: 5px;
  border-color: grey
}
select option {
    margin: 40px;
    background: transparent;
    color: #444040;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
}
select {
  color: grey;
  border-color: grey
}

.btn:active, .btn:focus, button:active, button:focus {
  outline: 0 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: #1c73ff !important
}

.btn:active, .btn:focus, .btn:hover, .btn:visited, button:active, button:focus, button:visited {
  background-color: #1c73ff !important;
  outline: 0 !important;
  border-color: #1c73ff;
  color: #fff
}
.l-text {
  margin: 15px 0 10px 0 !important
}
.quests {
  padding-bottom: 10px
}
.multiselect.btn {
  background: #eee;
  color: grey;
  font-size: 13px;
  border: 1px solid #ccc;
  width: 95% !important;
  text-align: left;
  padding: 5px 10px
}
.multiselect.btn:active, .multiselect.btn:focus, .multiselect.btn:hover, .multiselect.btn:visited, button:active, button:focus, button:visited {
  background: #eee !important;
  color: grey
}
.inputlbl label {
  display: block;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #000000;
}
.error {
  border: 1px solid red
}
.errorMsg {
  color: red
}
#emailFld-error, #firstname-error {
  display: none !important
}
textarea.form-control {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
}
.inputlbl input {
  width: 100%;
  max-width: 300px;
}
.textboxsOther {
  width: 100%;
  max-width: 300px
}
.textboxsOtherCntr {
  width: 200px;
  display: inline-block
}
@media screen and (max-width:990px) {
  .main-cont {
    width: 100%
  }
  .mainDiv {
    padding: 0px;
    width: 90%;
    padding-top: 35px;
  }
  .blue-line {
    height: 936px !important;
  }
  .btn-group {
    width: 95% !important
  }
  .textboxsOtherCntr {
    width: 90% !important;
    margin-top: 20px
  }
}
.thankyouMsg {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #2200ff;
}

.dropdown-item.checkFields.active, .dropdown-item.checkFields:active {
    background: transparent;
    color: #000;
}